 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

.container {
    max-width: 600px;
    width: 90%;
    padding:0;
    margin: 70px auto; 
    vertical-align: middle;
}

.container img {
    width: 600px;
    border-radius: 30px 30px 0 0 ;
    margin-bottom: 0;
}

.container-texto-principal {
    padding: 0;
    
}

h1 {    
    font-size: 45px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight:bold;
    font-family: 'Red Hat Display';
}

p {
    font-size:31px ;
    color: hsl(224, 23%, 55%);
    width: 530px;
    text-align:center;
    padding: 0;
    margin: 40px auto;
    line-height: 50px;
}

.container-planos {
    background-color:rgb(181, 222, 248, 0.1);
    width: 600px;
    height: 150px;
    padding: 0;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.container-planos h2 {
    font-size:30px ;
    font-weight: bolder;
}

.container-planos h3 {
    font-size: 30px;
    color:hsl(224, 23%, 55%);
    
}

.container-planos button {
    color:rgb(49, 61, 197);
    font-size: 25px;
    border: none;
    text-decoration: underline;
    font-weight: bolder;
    background-color: transparent;
    margin-right: 20px;
}
.container-planos img {
    width: 100px;
    height: 100px;
    display: flexbox;
    margin-left: 30px;
}

.container-valor {
    display:flexbox;
    margin: 0;
    width: 200px;
}

.container-pagamento button {
    width: 100%;
    height:90px;
    margin: auto;

}

.container-pagamento {
    align-items: center;
    width: 600px;
    padding-top: 50px;
    margin: auto;

}
#pagamento {
    color:#FFF;
    background-color: blue;
    border-radius: 20px;
    font-size: 30px;
    border-color: transparent;
    font-weight: bolder;
    box-shadow: 0 30px 15px rgb(213, 215, 216, 0.7);
}

#cancelar {
    border: transparent;
    margin-top: 20px;
    background-color:transparent;
    font-size: 30px;
    font-weight: bolder;
    color: hsl(224, 23%, 55%);
}